<!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
       
    </head>
    
    <body style="background-color: #ededed;">
        <div>        
            <th:block th:include="/menu"></th:block>
        </div>
        
        <div class="container-fluid" style="margin-top: 30px;">

		<div class="row col-lg-3 col-lg-offset-4" style="margin-top: 40px; background-color: #fff; padding: 20px; border: solid 1px #ddd;margin-left: 33.333%;">
            <form autocomplete="off" th:action="@{/curso}" th:object="${curso}" class="form-signin" method="POST" role="form">
                <h3 class="form-signin-heading">Creacion de Curso</h3>
               
                    <div class="" sec:authentication="name">
                        <a th:value="${curso.id_usuarios}"></a>
                    </div>
                    <div class="form-group">
                    <div class="">
                        <input type="text" th:field="*{Nom}" class="form-control" placeholder="Nombre curso"></input>
                    </div>
                    </div>

                <div class="form-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" style="background-color: #fff; font-size: 12px;">Escolaridad</label>
                           <select th:field="*{escolaridad}">
                            <option th:value="primaria" th:text="primaria"></option>
                            <option th:value="secundaria" th:text="secundaria"></option>
                           </select>
                    </div>
                    <div class="input-group-prepend">
                        <label class="input-group-text" style="background-color: #fff; font-size: 12px;">Grado </label>
                            <select th:field="*{grado}">
                                <option th:value="1" th:text="1"></option>
                                <option th:value="2" th:text="2"></option>
                                <option th:value="3" th:text="3"></option>
                                <option th:value="4" th:text="4"></option>
                                <option th:value="5" th:text="5"></option>
                                <option th:value="6" th:text="6"></option>
                            </select>
                       
                    </div>
                </div>
                    <div>
                        <input type="text" th:field="*{grupo}" class="form-control" placeholder="Grupo"></input>
                    </div>
                    <div class="form-group">
                    <div class="">
                       <label class="input-group-text" style="background-color: #fff; font-size: 12px; display:inline-block">Curso creado en:</label>
                        <a th:text="${#dates.format(#dates.createNow(),'dd MMM YYYY')}"></a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
        
  </body>
</html>